<?xml version="1.0"?>
<robot xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
        xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
        xmlns:xacro="http://ros.org/wiki/xacro"
        xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
        name="MiR200_UR5">

    <xacro:arg name="robot_name" default=''/>
    <xacro:arg name="tf_prefix" default=''/>
    <xacro:arg name="transmission_hw_interface" default="hardware_interface/PositionJointInterface"/>

    <!-- <xacro:property name="robot_name" value='$(arg robot_name)'/> -->

    <!--Include all needed urdf files-->
    <!--Include urdf of the MiR base-->
    <xacro:include filename="$(find mir_ur5_description)/urdf/mir_200_v1.urdf.xacro"/>
    <xacro:mir_200 prefix=""/>

    <!--Link to Gazebo library-->
    <gazebo>
        <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
            <!-- <xacro:unless value="${robot_namespace == ''}">
                <robotNamespace>$(arg robot_namespace)</robotNamespace>
            </xacro:unless> -->
            <controlPeriod>0.001</controlPeriod>
            <legacyModeNS>true</legacyModeNS>
        </plugin>
    </gazebo>
</robot>