<?xml version="1.0"?>
<launch>
<group ns="robot1_ns">
  <!-- Run Rviz and load the default config to see the state of the move_group node -->
  <include file="$(find mir_ur5_moveit_config)/launch/moveit_rviz.launch">
        <arg name="rviz_config" value="$(find mir_ur5_moveit_config)/launch/moveit.rviz"/>
        <arg name="debug" value="false"/>
  </include>
</group>
</launch>