<?xml version="1.0"?>
<launch>
    <!--Variables for the robot1-->
    <arg name="robot1_name" value="robot1"/>
    <arg name="robot1_namespace" value="$(arg robot1_name)_ns"/>
    <arg name="robot1_tf" value="$(arg robot1_name)_tf"/> 

    <arg name="robot2_name" value="robot2"/>

    <!--Spawn in Robot 1-->
    <group ns="$(arg robot1_namespace)">
        <param name="tf_prefix" value="$(arg robot1_tf)"/>
        <include file="$(find mir_ur5_description)/launch/mir_ur5.launch">
            <arg name="robot_name" value="$(arg robot1_name)"/>
            <arg name="robot_namespace" value="$(arg robot1_namespace)"/>
        </include>
    </group>
    
    <!--Spawn in Robot 2-->
    <!--group ns="$(arg robot2_name)">
        <param name="tf_prefix" value="robot2_tf"/>
        <include file="$(find mir_ur5_description)/launch/mir_ur5.launch">
            <arg name="robot_name" value="$(arg robot2_name)"/>
            <arg name="init_pose" value="-x 1 -y 1 -Y 0"/>
        </include>                
    </group-->    
    
</launch>