<?xml version="1.0"?>
<launch>
    <arg name="robot1_name" value="robot1"/>

    <param name="robot_description" 
            command="$(find xacro)/xacro --inorder $(find mir_ur5_description)/urdf/mir_ur5.urdf.xacro robot_name:=$(arg robot1_name)"/>

    <!--Spawn in Robot 1-->
    <group ns="$(arg robot1_name)">
        <param name="tf_prefix" value="$(arg robot1_name)_tf"/>
        <include file="$(find mir_ur5_description)/launch/mir_ur5.launch">
            <arg name="robot_name" value="$(arg robot1_name)"/>
        </include>                
    </group>

    <!--Spawn in Robot 2-->
    <!--group ns="Robot2">
        <param name="tf_prefix" value="robot2_tf"/>
        <include file="$(find mir_ur5_description)/launch/mir_ur5.launch">
            <arg name="robot_name" value="Robot2"/>
            <arg name="init_pose" value="-x 1 -y 1 -Y 0"/>
        </include>                
    </group-->
</launch>